@import "var";

.page-tomato {
    .tt-countdown {
        color: #999;
        font-size: 100px;
    }
    .input-minute {
        float: left;
        width: 140px;
    }
    .btn-start {
        float: left;
        margin-left: 50px;
    }
}